<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Erasure
Description: A two-column, fixed-width design with a dark color scheme.
Version    : 1.0
Released   : 20120205
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Space Research in Uzhgorod</title>
<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
    <!--  ?v={random number/string}   to add random number and update cache-->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}style.css?v={random number/string}" />
    <link rel="shortcut icon" href="{{ STATIC_PREFIX }}favicon.ico" type="image/x-icon">
    <!--<link rel="icon" type="image/ico" href="{{STATIC_PREFIX}}favicon.ico">-->
</head>

<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">LSR site</a></h1>
			<h2>Space research in Uzhgorod</h2>
		</div>
        <div id="log">
          <a href="auth.html">Login</a>
          <a href="logout.html">/ Logout</a><br>
        </div>
        <div id="uname">
            {% if user.username %}
            <a> Loged: {{user.username}} </a>
            {% else %}
            <a>Please Log in</a>
            {% endif %}

        </div>
		<div id="menu">
			<ul>
				<li class="first current_page_item"><a href="/index.html">Homepage</a></li>
				<li><a href="/journal.html">Observation Journal</a></li>
				<li><a href="/about.html">About</a></li>
                <!--<li><a href="auth.html">Login</a> </li>-->
				<li class="last"><a href="/contact.html">Contact</a></li>
			</ul>
			<br class="clearfix" />
		</div>
	</div>
    <div id="page">
            <div id="content">

    <!--CONTENT-->
    {% block content %} {% endblock %}
    <!--CONTENT-->
            </div>

            {% block page %} {% endblock %}
      <br class="clearfix" />
    </div>


</div>
<div id="footer">
	&copy;Copyright 2013. All rights reserved.
</div>
</body>
</html>