{% extends 'base.html' %}
        {% block content %}
        <!--<div id="page">-->
            <!--<div id="content">-->
                <div id="post1">
                    <h2>Welcome to LSR</h2>
                    <img class="alignleft" src="static/images/AVR2.jpg" width="350" height="250" alt="" />
                    <p>
                        Лабораторія космічних досліджень ДВНЗ "УжНУ" займається вивченням навколоземного космічного
                        простору. На телескопах лабораторії проводяться спостереженням за штучними супутниками Землі,
                        малими тілами сонячної системи, кометами, планетами.
                    </p>
                    <!--<img class="alignleft" src="static/images/TPL-1M.jpg" width="250" height="250" alt="" />-->
                    <p>
                        Основний напрямок робіт - визначення координат та отримання кривих блиску ШСЗ.
                    </p>
                </div>
                <br class="clearfix" />
            <!--</div>-->

            <!--<br class="clearfix" />-->
        <!--</div>-->
        {% endblock %}